<mat-toolbar>
    <span id="header">Registration for Recipient</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>

        <form class="my-form">
           <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input [(ngModel)]="registerReceiverData.id"  matInput  placeholder="Username"  name="username" type="text" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Name</mat-label>
                  <input [(ngModel)]="registerReceiverData.name"  matInput  placeholder="Full Name" name="name" type="text" required>
               </mat-form-field>
              
               <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input [(ngModel)]="registerReceiverData.email" matInput  placeholder="Email" name="email" type="text" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input [(ngModel)]="registerReceiverData.password" matInput  placeholder="Password"  name="password" type="password" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                <mat-label>Phone Number </mat-label>
                <input [(ngModel)]="registerReceiverData.phoneNumber" matInput  placeholder="contact number" name="phoneNumber" type="number"  required>
             </mat-form-field>
             
             <section class="example-section">
                  <label class="example-margin">Role:  </label>
                  <!-- <mat-radio-group>
                    <mat-radio-button class="example-margin" value="after"> Donor</mat-radio-button>
                    <mat-radio-button class="example-margin" value="before"> Recipient</mat-radio-button>
                  </mat-radio-group> 
                   -->
                   <label class="radio-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="registerReceiverData.role" name="donor" value="i" checked (change)="onItemChange($event)" value="Donor"/>Donor</label>
                      <label class="radio-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="registerReceiverData.role" name="recipient" value="p"  (change)="onItemChange($event)" value="Recipient"/>Recipient</label>
                      
            </section>
          
        </form>
       
    </mat-card-content>
<mat-card-actions>
        <button mat-raised-button (click)="registerReceipient()" color="primary">REGISTER</button>
        <a mat-button routerLink="/edit">Edit Profile</a>
     </mat-card-actions>
  </mat-card>