<div class="center">
<mat-toolbar>
    <span id="header">Edit Profile</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>

        <form class="my-form">
           <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input [(ngModel)]="editReceiverData.id" autocomplete="off"    matInput    formControllName="userName" placeHolder="UserName" type="text" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Name</mat-label>
                  <input [(ngModel)]="editReceiverData.name"  matInput  placeholder={{editReceiverData[0].name}} name="name" type="text" required>
               </mat-form-field>
              
               <mat-form-field class="full-width">
                  <mat-label>Email</mat-label>
                  <input [(ngModel)]="editReceiverData.email" matInput  placeholder={{editReceiverData[0].email}} name="email" type="text" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input [(ngModel)]="editReceiverData.password" matInput  placeholder={{editReceiverData[0].password}}  name="password" type="password" required>
               </mat-form-field>
               <mat-form-field class="full-width">
                <mat-label>Phone Number </mat-label>
                <input [(ngModel)]="editReceiverData.phoneNumber" matInput  placeholder={{editReceiverData[0].phoneNumber}} name="phoneNumber" type="number"  required>
             </mat-form-field>
             
             
          
        </form>
       
    </mat-card-content>
<mat-card-actions>
      <!-- <section class="example-section">
            <label class="example-margin">Role:</label>
            <mat-radio-group [(ngModel)]="role">
              <mat-radio-button class="example-margin" value="after">Donor</mat-radio-button>
              <mat-radio-button class="example-margin" value="before">Recipient</mat-radio-button>
            </mat-radio-group>
          </section> -->
        <!--REGISTER BUTTON HERE-->
        <button mat-raised-button (click)="editReceipient()" color="primary">Edit Profile</button>
     </mat-card-actions>
  </mat-card>
  </div>
  <router-outlet></router-outlet>